/* =========================================================
   1. SELF-HOSTED FONTS
   ========================================================= */

/* DM Sans Regular */
@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* DM Sans Italic */
@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* =========================================================
   2. CSS VARIABLES (DESIGN TOKENS)
   ========================================================= */

:root {
  /* Fonts */
  --FF: "DM Sans", sans-serif;

  /* Colors */
  --COLOR-PURPLE-LIGHT: #dbd1fc;
  --COLOR-PURPLE-DARK: #7551dc;
  --COLOR-YELLOW-LIGHT: #f9eee2;
  --COLOR-YELLOW-DARK: #ffcc6a;
  --COLOR-WHITE: #ffffff;
  --COLOR-BLACK: #121212;
}

/* =========================================================
   3. CSS RESET
   ========================================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/* =========================================================
   4. GENERAL STYLES
   ========================================================= */
/* 1rem: 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--FF);
  color: var(--COLOR-BLACK);
}

.feature {
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 3.2rem;
}

/*Text Presets */

.text-preset-1 {
  font-size: 4.6rem;
  line-height: 4.2rem;
  letter-spacing: -4%;
  font-weight: 500;
}

.text-preset-2 {
  font-size: 3.2rem;
  line-height: 2.8rem;
  letter-spacing: -6%;
  font-weight: 500;
}

.text-preset-3 {
  font-size: 2.6rem;
  line-height: 2.4rem;
  letter-spacing: -6%;
  font-weight: 500;
}
.text-preset-4 {
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0;
  font-weight: 400;
}

/* =========================================================
   5. COMPONENT STYLES
   ========================================================= */

.container {
  width: 90%;
  margin: 3.2rem auto;
}

.feature--hero {
  background-color: var(--COLOR-PURPLE-DARK);
  padding: 4rem 3.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  grid-area: hero;
}

.feature--hero .feature__title {
  color: var(--COLOR-WHITE);
  text-align: center;

  margin-bottom: 2.4rem;
}

.feature--hero .feature__highlight {
  color: var(--COLOR-YELLOW-DARK);
  display: inline-block;
}

.feature--hero .feature__italic {
  font-style: italic;
  display: inline-block;
}

.feature--hero .feature__content {
  max-width: 22.1rem;
  text-align: center;
}

.feature--hero .feature__img {
  width: 90%;
  margin-bottom: 0.8rem;
}

.feature--hero .feature__description {
  color: var(--COLOR-WHITE);
}

.feature--accounts {
  padding: 1.6rem 1.6rem;
  overflow: hidden;
  grid-area: accounts;
}

.feature--accounts .feature__img {
  width: 100%;
  max-width: 31.6rem;
  margin-bottom: 0 auto 1.6rem auto;
}

.feature--accounts .feature__description {
}

.feature--schedule {
  background-color: var(--COLOR-YELLOW-DARK);
  height: 21.6rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
  overflow: hidden;
  position: relative;

  grid-area: schedule;
}

.feature--schedule .feature__title {
  margin-bottom: 1.6rem;
  width: 100%;
}

.feature--schedule .feature__img {
  width: 60%;
  position: absolute;
  max-width: 20.8rem;
  bottom: -20px;
}

.feature--social-media {
  background-color: var(--COLOR-PURPLE-LIGHT);
  padding: 3.2rem 2rem;
  text-align: center;

  grid-area: social-media;
}

.feature--social-media .feature__title {
  margin-bottom: 2.4rem;
}

.feature--social-media .feature__img {
  width: 100%;
  max-width: 31.8rem;
  margin-bottom: 2.4rem;
}

.feature--social-media .feature__description {
  width: 95%;
  margin: 0 auto;
}

.feature--grow {
  background-color: var(--COLOR-PURPLE-DARK);
  padding: 2.4rem 0;
  text-align: center;

  grid-area: grow;
}

.feature--grow .feature__img {
  width: 80%;
  max-width: 20rem;
  margin: 0 auto 4rem auto;
}

.feature--grow .feature__title {
  color: var(--COLOR-WHITE);
  width: 80%;
  margin: 0 auto;
}

.feature--audience {
  padding: 2.4rem 2.4rem;
  grid-area: audience;
}

.feature--audience .feature__title {
  margin-bottom: 2.4rem;
}

.feature--audience .feature__highlight {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.feature--audience .feature__img {
  width: 100%;
  max-width: 17.8rem;
}

.feature--quickness {
  padding: 3.2rem 3.2rem;
  background-color: var(--COLOR-YELLOW-LIGHT);
  grid-area: quickness;
}

.feature--quickness .feature__title {
  margin-bottom: 2.4rem;
}

.feature--quickness .feature__title--highlight {
  display: inline-block;
  color: var(--COLOR-PURPLE-DARK);
}

.feature--quickness .feature__img {
  width: 100%;
  max-width: 19rem;
}

.feature--ai {
  padding: 2.4rem 2.4rem;
  background-color: var(--COLOR-YELLOW-DARK);
  grid-area: ai;
}

.feature--ai .feature__title {
  margin-bottom: 2.4rem;
}

.feature--ai .feature__img {
  width: 100%;
  max-width: 21.9rem;
}

@media (min-width: 600px) {
  .text-preset-1 {
    font-size: 5.4rem;
    line-height: 4.8rem;
    letter-spacing: -4%;
    font-weight: 500;
  }

  .text-preset-2 {
    font-size: 3.6rem;
    line-height: 3rem;
    letter-spacing: -6%;
    font-weight: 500;
  }

  .text-preset-3 {
    font-size: 2.8rem;
    line-height: 2.6rem;
    letter-spacing: -6%;
    font-weight: 500;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    grid-template-areas:
      "hero hero"
      "accounts schedule"
      "social-media social-media"
      "social-media social-media"
      "grow grow"
      "audience audience"
      "quickness ai";
  }

  .feature {
    /* No margin bottom anymore, instead grid gap */
    margin: 0;
  }

  .feature--hero {
    padding: 7.2rem 7.6rem;
  }

  .feature--accounts {
    padding: 2.4rem 2.4rem;
  }

  .feature--accounts .feature__img {
    width: auto;
    max-width: 25rem;
    margin-bottom: 5.5rem;
  }
  .feature--accounts .feature__description {
    width: 70%;
  }

  .feature--schedule {
    height: 100%;
  }

  .feature--schedule .feature__img {
    width: 100%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  .feature--social-media .feature__description {
    width: 53%;
  }

  .feature--grow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    padding: 2.3rem 8.2rem;
  }

  .feature--grow .feature__img {
    margin: 0;
    width: 100%;
  }

  .feature--grow .feature__title {
    margin: 0;
    width: 100%;
  }

  .feature--audience {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .feature--audience .feature__title {
    margin: 0;
  }

  .feature--quickness {
    padding: 7.5rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .text-preset-1 {
    font-size: 6.2rem;
    line-height: 5.8rem;
    letter-spacing: -3%;
    font-weight: 500;
  }

  .text-preset-2 {
    font-size: 4rem;
    line-height: 3.6rem;
    letter-spacing: -2%;
    font-weight: 500;
  }

  .text-preset-3 {
    font-size: 3.2rem;
    line-height: 2.8rem;
    letter-spacing: -2%;
    font-weight: 500;
  }

  .container {
    margin: 8.3rem 16rem;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 3.2rem;
    grid-template-areas:
      "quickness hero hero social-media"
      "quickness hero hero social-media"
      "quickness hero hero social-media"
      "quickness accounts schedule social-media"
      "ai accounts schedule social-media"
      "ai accounts schedule social-media"
      "ai audience grow grow"
      "ai audience grow grow"
      "ai audience grow grow";
  }

  .feature {
  }

  .feature--hero {
    padding: 6.2rem 3.2rem;
  }

  .feature--accounts .feature__img {
    margin-bottom: 2rem;
  }

  .feature--schedule {
    width: 100%;
  }
  .feature--schedule .feature__img {
    width: 80%;
    bottom: -20%;
  }

  .feature--social-media {
    overflow: hidden;
  }

  .feature--social-media .feature__title {
    text-align: left;
  }

  .feature--social-media .feature__img {
    width: auto;
    max-width: 40rem;
  }

  .feature--social-media .feature__description {
    width: 100%;
    text-align: left;
  }

  .feature--grow {
    padding: 2.3rem 2.4rem;
    gap: 1rem;
  }

  .feature--grow .feature__img {
    width: 45%;
  }

  .feature--grow .feature__title {
    width: 60%;
    text-align: left;
  }

  .feature--audience {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
  }

  .feature--ai {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .feature--ai .feature__title {
    margin-bottom: 5.5rem;
  }

  .feature--ai .feature__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-grow: 1;
  }
}
